// COLOR SELECTION
$interestify-blue: #1975B3;
$interestify-lightgrey: #F0F0F0;
$interestify-grey: #CFCFCF;
$interestify-black: #000000;
$interestify-darkgrey: #BFBFBF;
$interestify-velvet: #82172B;
$interestify-pink: #CF7D8C;
$interestify-paper: #F7F7F7;
$interestify-white: #FFFFFF;

// APP
$interestify-primary: $interestify-velvet;
$interestify-secondary: $interestify-pink;
$interestify-font-color: $interestify-black;
$interestify-primary-font-color: $interestify-lightgrey;
$interestify-primary-hover-color: $interestify-pink;

// COMPONENTS
// table
$table-row-primary: $interestify-darkgrey;
$table-row-secondary: $interestify-lightgrey;
$table-header-font-color: $interestify-lightgrey;
$table-header-background-color: $interestify-primary;
$table-row-hover-color: $interestify-grey;
$table-action-btn-hover-color: $interestify-primary;
$table-footer-background-color: $interestify-pink;
$box-shadow: 0 5px 15px 0;

// panel
$panel-background-color: $interestify-paper;