@import './variables';

.App {
  text-align: center;
  padding: 20px;
  color: $interestify-font-color;
  
  .App-link {
    color: #09d3ac;
  }

  .elevated-table {
    box-shadow: $box-shadow;
  }

  .MuiTable-root {
    .MuiTableBody-root {
      .MuiTableRow-root {
        &:hover {
          background-color: $table-row-hover-color;
        }

        .MuiTableCell-root {
          .MuiIconButton-root {
            .MuiIconButton-label {
              &:hover {
                color: $table-action-btn-hover-color;
              }
            }
          }
        }
      }
    }
    
    .MuiTableHead-root {
      .MuiTableRow-head {
        background-color: $table-header-background-color;
  
        th {
          color: $table-header-font-color;
          font-weight: bolder;

          .MuiTableSortLabel-root:hover, .MuiTableSortLabel-root.MuiTableSortLabel-active {
            &, svg {
              color: $table-header-font-color;
            }
          }
        }
      }
    }

    .light-row {
      background-color: $table-row-secondary;
    }

    .dark-row {
      background-color: $table-row-primary;
    }
  }

  .MuiTableFooter-root {
    &::before {
      content: '.';
    }

    .footer-row {
      background-color: $table-footer-background-color;
      
      td {
        font-weight: 600;
      }
    }
  }

  .pagination-actions-root {
    display: inline-flex;
    list-style: none;
  }
}
